<mat-form-field>
    <input #txtSearch matInput type="number" placeholder="Enter amount">
</mat-form-field>
<div class="coins" *ngFor="let coin of coins">
    {{ coin.type }} - {{ coin.count }}
</div>
