<!--The content below is only a placeholder and can be replaced.-->
<div class="site">
  <header>
    <mat-toolbar color="primary" class="mat-elevation-z12">
        <mat-icon>stars</mat-icon><span class="title">Coin Calculator</span>
    </mat-toolbar>
  </header>
  <main>
    <mat-grid-list cols="1" rowHeight="80%">
      <mat-grid-tile>
        <app-coin-count></app-coin-count>
      </mat-grid-tile>
    </mat-grid-list>
  </main>
  <footer>
    <mat-toolbar color="primary"></mat-toolbar>
  </footer>
</div>

